* {
	box-sizing: border-box;
}

:root {
	--content-padding: 16px;
	--app-header-vertical-padding: 8px;
	--app-header-horizontal-padding: 16px;
	--app-title-line-height: 40px;
	--card-size: min(calc((100vw - var(--content-padding) * 2) / var(--card-columns)), calc((100vh - var(--content-padding) * 2 - var(--app-header-vertical-padding) * 2 - var(--app-title-line-height)) / var(--card-rows)));
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.app-header {
	flex: 0 1 auto;
	padding: var(--app-header-vertical-padding) var(--app-header-horizontal-padding);
	display: flex;
	background: indigo;
	color: white;
}

.app-title {
	font-weight: 500;
	font-size: 32px;
	line-height: var(--app-title-line-height);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 auto;
	padding: var(--content-padding);
	overflow: hidden;
}

.cards {
	flex: 1 1 auto;
	display: grid;
	grid-template-columns: repeat(var(--card-columns), var(--card-size));
	grid-template-rows: repeat(var(--card-rows), var(--card-size));
}

.cards-container {
	display: flex;
	max-width: 100%;
	max-height: 100%;
	padding: 8px;
}

.cards-container > div {
	border: 1px solid #000;
	border-radius: 10%;
	width: 100%;
	height: 100%;
}

.card {
	color: lightblue;
	background: repeating-linear-gradient(135deg,
		transparent,
		transparent 10%,
		currentColor 10%,
		currentColor 20%);
}

.symbol {
	justify-content: center;
	align-items: center;
	font-size: calc(var(--card-size) / 2);
}
